[Desktop Entry]
Name=ANTESPORTS Monitor
Comment=ANTESPORTS LCD Cooler Monitor GUI
Exec=/usr/bin/ant-monitor-gui
Icon=ant-monitor
Terminal=false
Type=Application
Categories=System;Monitor;
